/* Container */

* {
  font-family: "Poppins", sans-serif;
}

.summary,
.all-containers-container {
  background-color: white;
}

.summary {
  margin-bottom: 10px;
}

#cart-product-name {
  text-align: center;
}

.cart-container {
  width: 90%;
  display: flex;
  background-color: #f0d6e9;
  border-radius: 10px;
  height: fit-content;
  padding: 15px;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  margin-top: 30px;
  flex-direction: column;
}

.cart-container h1 {
  align-self: center;
  margin-bottom: 30px;
}

#products-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.all-containers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.pic-and-title-container,
.varnish-cart-container,
.quantity-cart-container,
.price-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 300px;
}

.summary-text {
  width: 300px;
  margin-bottom: 30px;
  text-align: center;
}

.pic-cart-container {
  height: 100px;
  width: 100px;
}

.pic-cart-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.summary {
  display: flex;
  justify-content: space-around;
}

.pic-cart-container {
  margin-bottom: 20px;
}

.white-button {
  height: 30px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: white;
  border: 1px solid black;
  align-self: center;
  cursor: pointer;
}

#empty-cart {
  padding-top: 150px;
  text-align: center;
  height: calc(100vh - 80px);
  background-color: #f0d6e9;
}

.hidden {
  display: none;
}

.total {
  width: fit-content;
  margin: auto;
  margin-bottom: 60px;
}

.total-container {
  display: flex;
  margin-bottom: 20px;
}

.total button {
  width: 100%;
}

.form-container {
  align-self: center;
}

.form-container,
.form-element {
  display: flex;
  flex-direction: column;
}

.form-container label {
  text-align: center;
}

.error-form-text {
  color: red;
  text-align: center;
}

#firstName,
#lastName,
#city {
  text-transform: capitalize;
}

#underline {
  text-decoration: underline;
}

#underline:hover {
  text-decoration: none;
}

.form-element {
  height: fit-content;
  padding: 20px 0;
  width: 300px;
  max-width: 300px;
}

input {
  height: 40px;
  border-radius: 100px;
  padding: 20px;
  width: 300px;
  max-width: 300px;
}

.form-container {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .cart-container {
    width: 100%;
  }
  .summary-text,
  .pic-and-title-container,
  .quantity-cart-container,
  .price-cart-container {
    padding: 0 10px;
    font-size: 15px;
  }
  .pic-cart-container {
    height: 50px;
    width: 50px;
  }
  #cart-product-name {
    font-size: 15px;
  }
}
